{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'main/css/style.css'%}" rel="stylesheet">
</head>

<body>

<header class="header">
    <div class="wrapper">
        <div class="header__wrapper">
            <div class="header__logo">
                <a href="#" class="header__logo-link">
                    <img src="{% static 'main/img/logo.png'%}" alt="SEVITA exclusive" class="header__logo-pic">
                </a>
            </div>

            <nav class="header__nav">
                <ul class="header__list">
                    {% for item in header %}
                    <li class="header__item">
                        <a href="{% url item.url_name %}" class="header__link">{{item.title}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>

            <nav class="header__nav">
                <p class="header__profile">
                    <a href="#!" class="header__profile-link"><img src="{% static 'main/img/svg/profile.svg'%}"
                                                                   alt="Профиль" class="header__profile-pic"></a>
                </p>
            </nav>
        </div>
    </div>
</header>

{% block content %}
{% endblock content %}

{% block footer %}
<section class="footer">
    <div class="wrapper">
        <div class="footer__wrapper">
            <div class="footer__div-logo">
                <img src="{% static 'main/img/logo.png'%}" alt="SEVITA exclusive" class="footer__logo">
            </div>
            <div class="footer__vk">
                <p class="footer__vk-desc">
                    По всем вопросам Вы можете написать в группу в ВК: <br>
                    <a href="https://vk.com/sevita_shop" class="vk-link" target="_blank">
                        <img src="{% static 'main/img/vk-logo.png'%}" alt="Написать нам" class="footer__vk-logo">
                    </a>
                </p>
            </div>
            <div class="footer__contacts">
                Контакты:<br><br>
                +7 9** *** **-**<br>
                your-email@email.ru
            </div>
        </div>
    </div>
</section>
{% endblock footer %}
</body>
</html>