{%  extends 'main/base.html' %}
{% load static %}
{% load main_tags %}

{% block content %}


<section class="catalog">
    <div class="wrapper">
        <div class="about__header">
            <a href="" class="about__pic"><img src="{% static 'main/img/svg/about-header.svg'%}" alt="sevita"
                                               class="about__header-pic"></a>
        </div>
        <div class="catalog__content">
            <div class="catalog__header">
                <h1>Каталог товаров</h1>
                <img src="{% static 'main/img/svg/delimiter-line.svg'%}" alt="delimiter" class="delimiter-line">
            </div>
            <div class="catalog__wrapper">
                {% for p in products %}
                <div class="catalog__item">
                    <a href="{{p.get_absolute_url}}">
                        <img src="{{p.preview.url}}" alt="{{p.title}}" class="catalog__item-preview">
                    </a>
                    <a href="{{p.get_absolute_url}}" class="catalog__item-title"><p
                            class="catalog__item-title">{{p.title}}</p></a>
                    <a href="{{p.get_absolute_url}}" class="catalog__item-price"><p
                            class="catalog__item-price">от {{p.low_price}} руб.</p></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}