{%  extends 'main/base.html' %}
{% load static %}
{% load main_tags %}

{% block content %}
<script src="{% static 'main/js/scripts.js'%}"></script>

<section class="catalog">
    <div class="wrapper">
        <div class="about__header">
            <a href="" class="about__pic"><img src="{% static 'main/img/svg/about-header.svg'%}" alt="sevita"
                                               class="about__header-pic"></a>
        </div>
        <div class="catalog__content">
            <div class="catalog__header">
                <h1>Каталог товаров</h1>
                <img src="{% static 'main/img/svg/delimiter-line.svg'%}" alt="delimiter" class="delimiter-line">
            </div>
            <div class="catalog__wrapper">
                {% for p in products %}
                <div class="catalog__item">
                    <a href="{{p.get_absolute_url}}">
                        <img src="{{p.preview.url}}" alt="{{p.title}}" class="catalog__item-preview">
                    </a>
                    <a href="{{p.get_absolute_url}}" class="catalog__item-title"><p
                            class="catalog__item-title">{{p.title}}</p></a>
                    <a href="{{p.get_absolute_url}}" class="catalog__item-price">
                        {% if p.low_price != "-" %}
                        <p class="catalog__item-price">от {{p.low_price}} руб.</p>
                        {% elif p.medium_price != "-" %}
                        <p class="catalog__item-price">от {{p.medium_price}} руб.</p>
                        {% else %}
                        <p class="catalog__item-price">от {{p.high_price}} руб.</p>
                        {% endif %}
                    </a>

                    <!--   Добавление товара в избранное   -->
                    <div class="add__block">
                        <form action="{% url 'add' id=p.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="type" value="{{ type }}">
                            <input type="hidden" name="url_from" value="{{ request.path }}">
                            <input class="catalog__fav" type="image" src="{% static 'main/img/fav.png' %}"
                                   alt="В избранное">
                        </form>
                    </div>

                    <!--   Удаление товара из избранного   -->
                    {% if request.session.favorites %}
                    {% for item in request.session.favorites %}
                    {% if item.id == p.id|stringformat:"i" %}
                    <div class="remove__block">
                        <form action="{% url 'remove' id=p.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="type" value="{{ type }}">
                            <input type="hidden" name="url_from" value="{{ request.path }}">
                            <input class="catalog__fav" type="image" src="{% static 'main/img/infav.png' %}"
                                   alt="Убрать из избранного">
                        </form>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            {% if page_obj.has_other_pages %}
            <nav class="list-pages">
                <ul>
                    {% if page_obj.has_previous %}
                    <li class="page-num">
                        <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                    </li>
                    {% endif %}

                    {% for page in paginator.page_range %}
                    {% if page_obj.number == page %}
                    <li class="page-num page-num-selected">{{ page }}</li>
                    {% elif page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
                    <li class="page-num">
                        <a href="?page={{ page }}">{{ page }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <li class="page-num">
                        <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}